/* Adaugă aceste stiluri în fișierul Login.css sau într-un fișier CSS separat */
button {
    color: #333;
    border: 1px solid #333; /* Adaugă o margine de 1px, poți ajusta grosimea după preferință */
    padding: 10px 20px; /* Adaugă spațiu în jurul textului butonului */
    border-radius: 5px; /* Adaugă colțuri rotunjite, poți ajusta după preferință */
    cursor: pointer; /* Transformă cursorul la hover într-o mână pentru a indica faptul că butonul este interactiv */
    margin-top: 10px;
}
